<div class="media">
    <div class="media-body">
        <%= @user.name %><br>
        <%= link_to "Following:", user_following_path(@user) %>  <%= @user.followings.size %><br>
        <%= link_to "Followers:", user_follower_path(@user) %> <%= @user.followers.size %>
        <%= render 'follows/follow-btn', {object: @user } %>

    </div>
</div>

<div class="media">
    <div class="media-body">

        <h3>My Products</h3>

        <% @user.products.each do |product| %>
            <ul>
                <li><b><%= link_to product.name, product_path(product) %></b> by 
                <%= link_to product.manufacturer.name, manufacturer_path(product.manufacturer_id) %><br></li>
                <%= product.category.name %><br>
                <%= number_to_currency(product.price) %></li>
            </ul>
            <br>
    <% end %>

    </div>
</div>