<!DOCTYPE html>
<html>
  <head>
    <title>Gleam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-nav">
      <div class="navbar-text">
        <p class="navbar-brand"><b><a href="/">GLEAM</a></b></p>
          <% if logged_in? %>
          <div class="navbar-text">
          <ul>
          <%= link_to "#{current_user.name.split[0]}'s page", user_path(current_user) %>
            <a href="/products/new">Add Product</a>
            <%= link_to "Log Out", '/logout', method: :post %>
            </ul>
          </div>
          <% end %>
        </p>
      </div>
    </div>
    <%= yield %>
    </body>
    <footer class="footer">
    <p><small> &copy; 2020 <strong>GLEAM</strong><%if logged_in? %> | <a href="/logout">Log Out</a><% end %></small></p>
  </footer>
</html>
